* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
}


header {
  background-color: black;
  color: aliceblue;
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

section{
  margin-top: 40px;
  display: block;
}


input,button {
  display: block;
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  resize: none;
}

button {
  background-color: #2ecc71;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  cursor: pointer;
}

button:hover {
  background-color: #27ae60;
}

.ok{
  padding: 16px;
  color: aliceblue;
  display: none;
  background-color: aquamarine;
}